<div id="kanban_collumn_1" class="kanban_collumn">
    <app-kanban-board-collumn-1></app-kanban-board-collumn-1>
</div>
<div id="kanban_collumn_2" class="kanban_collumn">
    <app-kanban-board-collumn-2></app-kanban-board-collumn-2>
</div>
<div id="kanban_collumn_3" class="kanban_collumn">
    <app-kanban-board-collumn-3></app-kanban-board-collumn-3>
</div>
<div id="kanban_collumn_4" class="kanban_collumn">
    <app-kanban-board-collumn-4></app-kanban-board-collumn-4>
</div>
<div id="kanban_collumn_5" class="kanban_collumn">
    <app-kanban-board-collumn-5></app-kanban-board-collumn-5>
</div>
