.kanban_collumn {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    border: 2px solid red;
    flex:1;
    
  }
.kanban_board {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 30px);
    gap: 15px;
    padding: 15px;
    }