<div class="kanban_board" >

    <div class="kanban_collumn">
        <div class ="collumn_title">New</div>
        <div class = "ticket_area">
            <div *ngFor="let ticket of tickets[0] ">
                    <app-kanban-ticket [ticket]=ticket></app-kanban-ticket>
            </div>
        </div>
    </div>

    <div class="kanban_collumn">
        <div class ="collumn_title">In Progress</div>
        <div class = "ticket_area">
            <div *ngFor="let ticket of tickets[1] ">
                    <app-kanban-ticket [ticket]=ticket></app-kanban-ticket>
            </div>
        </div>
    </div>

    <div class="kanban_collumn">
        <div class ="collumn_title">Waiting</div>
        <div class = "ticket_area">
            <div *ngFor="let ticket of tickets[2] ">
                    <app-kanban-ticket [ticket]=ticket></app-kanban-ticket>
            </div>
        </div>
    </div>

    <div class="kanban_collumn">
        <div class ="collumn_title">Finished</div>
        <div class = "ticket_area">
            <div *ngFor="let ticket of tickets[3] ">
                    <app-kanban-ticket [ticket]=ticket></app-kanban-ticket>
            </div>
        </div>
    </div>

    <div class="kanban_collumn">
        <div class ="collumn_title">Productive</div>
        <div class = "ticket_area">
            <div *ngFor="let ticket of tickets[4] ">
                    <app-kanban-ticket [ticket]=ticket></app-kanban-ticket>
            </div>
        </div>
    </div>

</div>