<div *ngIf="isOpen" class="app-new-ticket-pop-up">
    <div class="app-new-ticket-pop-up-body">
        <ng-content></ng-content>
        <h1>Neues Ticket erstellen</h1>
        
        <app-kanban-ticket [ticket]=ticket [ticket_not_draggable]=true></app-kanban-ticket>
        
        <form [formGroup]="newTicketForm" (submit)="create_new_ticket()">
            <label for="title">Titel</label>
            <input id="title" type="text" formControlName="title"><br>
            
            <label for="details">Details</label>
            <input id="details" type="text" formControlName="details"><br>

            <label for="priority">Priorität</label>
            <input id="priority" type="text" formControlName="priority"><br>

            <button type="submit" class="primary">Apply now</button>
        </form>

    
        <button (click)="close();">Abbrechen</button>
    </div>
</div>