<div class="kanban_board">

    <div class="kanban_column">

        <div class="collumn_title">

            New
            <button class="create_new_ticket_button" (click)="newTicket()"> New Ticket</button>
            <app-new-ticket-pop-up id="new_ticket"></app-new-ticket-pop-up>
            <app-edit-ticket-pop-up id="edit_ticket"></app-edit-ticket-pop-up>
            <app-message-pop-up id="show_message"></app-message-pop-up>

        </div>

        <div class="ticket_area" [dndDisableIf]="false" (dndDrop)="onDrop($event, 1)"
            dndDragoverClass="custom-drag-over" dndDropzone *ngIf="ticketService.tickets$ | async as tickets">

            <ng-container *ngFor="let ticket of tickets[0]">

                <app-kanban-ticket [ticket]=ticket [ticket_not_draggable]=false
                    (editing_requested)=ticket_requested_editing(ticket)></app-kanban-ticket>

            </ng-container>

        </div>

    </div>

    <div class="kanban_column">

        <div class="collumn_title">In Progress</div>

        <div class="ticket_area" [dndDisableIf]="false" (dndDrop)="onDrop($event, 2)"
            dndDragoverClass="custom-drag-over" dndDropzone *ngIf="ticketService.tickets$ | async as tickets">

            <ng-container *ngFor="let ticket of tickets[1] ">

                <app-kanban-ticket [ticket]=ticket [ticket_not_draggable]=false
                    (editing_requested)=ticket_requested_editing(ticket)></app-kanban-ticket>

            </ng-container>

        </div>

    </div>

    <div class="kanban_column">

        <div class="collumn_title">Waiting</div>

        <div class="ticket_area" [dndDisableIf]="false" (dndDrop)="onDrop($event, 3)"
            dndDragoverClass="custom-drag-over" dndDropzone *ngIf="ticketService.tickets$ | async as tickets">

            <ng-container *ngFor="let ticket of tickets[2] ">

                <app-kanban-ticket [ticket]=ticket [ticket_not_draggable]=false
                    (editing_requested)=ticket_requested_editing(ticket)></app-kanban-ticket>

            </ng-container>

        </div>

    </div>

    <div class="kanban_column">

        <div class="collumn_title">Finished</div>

        <div class="ticket_area" [dndDisableIf]="false" (dndDrop)="onDrop($event, 4)"
            dndDragoverClass="custom-drag-over" dndDropzone *ngIf="ticketService.tickets$ | async as tickets">

            <ng-container *ngFor="let ticket of tickets[3] ">

                <app-kanban-ticket [ticket]=ticket [ticket_not_draggable]=false
                    (editing_requested)=ticket_requested_editing(ticket)></app-kanban-ticket>

            </ng-container>

        </div>

    </div>

    <div class="kanban_column">

        <div class="collumn_title">Productive</div>

        <div class="ticket_area" [dndDisableIf]="false" (dndDrop)="onDrop($event, 5)"
            dndDragoverClass="custom-drag-over" dndDropzone *ngIf="ticketService.tickets$ | async as tickets">

            <ng-container *ngFor="let ticket of tickets[4] ">

                <app-kanban-ticket [ticket]=ticket [ticket_not_draggable]=false
                    (editing_requested)=ticket_requested_editing(ticket)></app-kanban-ticket>

            </ng-container>

        </div>

    </div>

</div>