/* You can add global styles to this file, and also import other style files */
.collumn_title {
    background-color: aliceblue;
  }
  
.ticket_area {
  min-height: 20cm;
  background-color: dodgerblue;
  }